<div class="row">
  <div class="col-lg-4 col-xs-12 col-md-6">
    <form (ngSubmit)="onLogin(f)" #f="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        ngModel/>
        <label for="username">Password</label>
        <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        ngModel/>
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
